.app {
  background-color: #29ecff;
  height: 100vh
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-result {
  margin: 10rem 10rem 0;
  color: white;
  font-size: 2rem;;
}

.validation {
  margin-top: 0.5rem;

  color: red;
  font-size: 0.8rem;
}

.header {
 padding: 0.5rem 0;
 background-color:#2c293f;
 color: white;

 font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: 0.3rem;

  padding: 5rem 3rem;
  background-color: white;
  margin: 10rem 10rem 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper + .input-wrapper {
  margin-top: 1rem;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  box-sizing: border-box;
  min-height: 2.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid lightgray;
}

button {
  margin-top: 2rem;
  background-color: #2c293f;
  color: white;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  color: white;
  background-color: #a8a5b8;
}

.submit:hover {
  cursor: pointer;
  background-color: #565365;
}
